<% layout('../layouts/boilerplate') %>
    <!-- 이것이 잘 작동된다면 아래의 콘텐츠 코드들은 layout의  <.%-body %>로 전달된다 -->
    <div id="map" style="width : 100%; height : 500px"></div>
    <h1>All Campgorund</h1>
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                        <% }else{ %>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dp3jvo1po/image/upload/v1692974888/YelpCamp/ktmqcesukmohkjpsly98.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/campgrounds/<%= campground._id %>">
                                <%= campground.title %>
                            </a>
                        </div>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text text-muted">
                            <%= campground.location %>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title
                                %></a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
   <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds = { features : <%- JSON.stringify(campgrounds)%>}
    </script>
            <script src="/javascripts/clusterMap.js"></script>